@import url("https://fonts.googleapis.com/css?family=Baloo+Bhaina");

body {
  margin: 0;
  padding-top: 150px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #625a56;
}

#nav {
  width: 100%;
  height: 80px;
  padding: 10px 0 5px 0;
  border-bottom: solid 4px #4400ff;
  box-shadow: 2px 2px 2px #ccc;
  position: absolute;
  top: 0;
}

#title {
  color: #4400ff;
  margin: 0;
  font-family: "Times New Roman";
  text-transform: uppercase;
}

img {
  display: block;
  margin: auto;
  width: 50%;
}

a {
  color: #333;
  text-decoration: none;
}

#nav a {
  text-decoration: none;
}

.nav-align {
  text-align: center;
  padding: 3px 0;
}

.container {
  padding: 0% 10%;
}

.button {
  background-color: #4400ff;
  padding: 0.3vw 3vw;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
}

.button:hover {
  background-color: #008cff;
  color: #96cffd;
}