<div class="container">
  <div>
    <img src="/images/cat.jpg" alt="Error cat">
  </div>
  <div>
    <h1>Oops! Something went wrong.</h1>
    <p> Go to
      <a href="/">home!</a>
    </p>
  </div>
</div>